
.body-dashboard{
    width: 100%;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-dashboard{
    display: flex;
    background-color: #CACACA;
    width: 100%;
    height: 100%;
}

.container-dashboard button{
    width: 170px;
    height: 50px;
    border: none;
    background-color: #181c2e;
    color: #fff;
    border-radius: 8px;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 30px;
    transition: ease 0.5s;
}

.container-dashboard button:hover{
    background-color: #0b1541;;
    font-size: 25px;
}

.container-dashboard button svg{
    margin-right: 20px;
}

@media screen and (max-width: 600px){
    .container-dashboard button{
        width: 120px;
        height: 40px;
        border: none;
        background-color: #181c2e;
        color: #fff;
        border-radius: 8px;
        font-size: 18px;
        margin-top: 18px;
        margin-left: 15px;       
    }   

    .container-dashboard button:hover{
        font-size: 18px;
        background-color: #0b1541;;
    }

    .container-dashboard button svg{
        margin-right: 12px;
    }
}