.header-container{
    
    background-color: #181c2e;
    color: #fff;

    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: end;
}

.header-container button{
    font-size: 30px;
    
    color: #fff;
    background-color: #0b1333;
    border: none;
    border-radius: 5px;
    
    width: 70px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 7px 30px;
    transition: ease 0.5s;
}


.header-container button:hover{
    background-color: #00104e;
    font-size: 35px;
}

@media screen and (max-width: 600px) {
    .header-container button{
        font-size: 30px;
    
        color: #fff;
        background-color: #0b1333;
        border: none;
        border-radius: 5px;
        
        width: 60px;
        height: 42px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: 7px 15px;
        transition: ease 0.5s;
    }
    
    
    .header-container button:hover{
        background-color: #00104e;
        font-size: 30px;
    }
}